[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[scripts]
mqtt-pub = "python bin/mqtt-pub"
mqtt-sub = "python bin/mqtt-sub"
mqtt-sub-imu = "python bin/mqtt-imu-sub"
mcu-sync = "rshell -p /dev/tty.SLAB_USBtoUART -b 115200 rsync src /pyboard"
mcu-repl = "rshell -p /dev/tty.SLAB_USBtoUART -b 115200"

[packages]
paho-mqtt = "*"
rshell = "*"

[requires]
python_version = "3.7"
