[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
mqtt-pub = "python bin/mqtt-pub"
mqtt-sub = "python bin/mqtt-sub"
mqtt-sample-rate = "python bin/mqtt-sub --show-sample-rate"
mcu-sync = "rshell -p /dev/tty.SLAB_USBtoUART -b 115200 rsync pyboard /pyboard"
mcu-repl = "rshell -p /dev/tty.SLAB_USBtoUART -b 115200 repl"
mcu-screen = "screen /dev/tty.SLAB_USBtoUART 115200"
webserver = "python -m http.server -b 127.0.0.1 -d web"

[packages]
paho-mqtt = "*"
rshell = "*"
click = "*"
loguru = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
