# -*- mode: python -*-
# MCU configuration

MQTT_CONFIG = {
    "host": "m10.cloudmqtt.com",
    "port": ...,
    "user": "...",
    "password": "...",
}

# { ssid_name: password | None }
WIFI_NETWORKS = {"home": "...", "Oliver's iPhone": "..."}

SEND_MQTT_SENSOR_DATA = False

# Send data on the serial port
SEND_SERIAL_SENSOR_DATA = True

# Run an HTTP server
RUN_HTTP_SERVER = False

TRACE_SPI = False

# Use a dummy IMU
USE_DUMMY_IMU = True
