MQTT_CONFIG = {
    "host": "m10.cloudmqtt.com",
    "port": ...,
    "user": "...",
    "password": "...",
}

WIFI_NETWORKS = {"home": "...", "Oliver's iPhone": "..."}

SEND_SERIAL_SENSOR_DATA = True
HTTPS_SERVER = False
