# If host is None, the software won't try to connect.
MQTT_CONFIG = {
    "host": "m10.cloudmqtt.com",
    "port": ...,
    "user": "...",
    "password": "...",
}

# { ssid_name: password | None }
WIFI_NETWORKS = {
    "home": "...",
    "Oliver's iPhone": "..."
}

# Send data on the serial port
SEND_SERIAL_SENSOR_DATA = True

# Run on HTTP server
RUN_RUN_HTTP_SERVER = False
