body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

#connection-gui {
    position: absolute;
    right: 0;
    bottom: 20px;
}
#bt-connection-button {
    position: absolute;
    z-index: 1;
}

body.connected #bt-connection-button {
    display: none;
}

/* Adapted from http://bl.ocks.org/simenbrekken/6634070 */
.graph .axis {
    stroke-width: 1;
}

.graph .axis .tick line {
    stroke: black;
}

.graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}
